*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.left_block{
    width: 40%;
    height: 100vh;
    background-color: cornflowerblue;
}
.main_page{
    width: 100%;
    height: 100vh;
    display: flex;
}
.right_block{
    background-color: transparent;
    justify-content: center;
    align-items: center;
    padding: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#email{
    padding: 15px;
    border-radius: 20px;
    border: 1px solid rgb(184, 185, 185);
    width: 250px;
}
#password{
    padding: 15px;
    border-radius: 20px;
    border: 1px solid rgb(184, 185, 185);
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px;
}
button{
    padding: 15px;
    border-radius: 20px;
    background-color: cornflowerblue;
    border: none;
    width: 250px;
}
h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
}