*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

.left_block{
    width: 40%;
    height: 100vh;
    background-color: red;
}
.right_block{
    width: 60%;
    height: 100vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right_block form #pass{
    margin-top: 20px;
    margin-bottom: 20px;
}
.main_page{
    width: 100%;
    height: 100vh;
    display: flex;
}
#email{
    padding: 15px;
    width: 280px;
    border-radius: 20px;
    border: 1px solid rgb(186, 186, 186);
}
#pass{
    padding: 15px;
    width: 280px;
    border-radius: 20px;
    border: 1px solid rgb(186, 186, 186);
}
button{
    padding: 15px;
    width: 250px;
    background-color: red;
    border: none;
    width: 280px;
    border-radius: 20px;
    color: white;
}
form h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 35px;
}
input{
    outline-color: red;
    color: rgb(186, 186, 186);

}
.icos{
    width: 20px;
}
#ic{
    margin-top: 20px;
}