*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
section {
    display: flex;
    justify-content: center;
    background-color: rgb(227, 226, 226);
    width: 520px;
    height: 250px;
    border: 4px solid rgb(165, 165, 165);
    margin-left: 400px;
    margin-top: 50px;
    padding: 8px;
}
div{
    text-align: center;
}
h1{
    margin: 10px;
}
p{
    margin: 10px;
}
.navstyle{
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.up {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: 1s;
}

:hover.up {
    color: red;
}    